<header class="header">
  <nav class="navigation">
    <ul class="navigation__menu">
      <li class="navigation__menu-item">
        <a href="/" class="<%= path === '/' ? 'active' : '' %>">Home</a>
      </li>
      <li class="navigation__menu-item">
        <a href="/max-1" class="<%= path === '/max-1' ? 'active' : '' %>"
          >Maxym Tsyganok</a
        >
      </li>
      <li class="navigation__menu-item">
        <a href="/max-2" class="<%= path === '/max-2' ? 'active' : '' %>"
          >Maxym Poplavskiy</a
        >
      </li>
      <li class="navigation__menu-item">
        <a href="/sasha" class="<%= path === '/sasha' ? 'active' : '' %>"
          >Oleksandr Zagrebelnyi</a
        >
      </li>
      <li class="navigation__menu-item">
        <a href="/sofia" class="<%= path === '/sofia' ? 'active' : '' %>"
          >Sofiia Koval</a
        >
      </li>
    </ul>
  </nav>
</header>
